<div id="<%= dom_id lesson_time_location %>">
  <p>
    <strong>Lesson:</strong>
    <%= lesson_time_location.lesson_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= lesson_time_location.location_id %>
  </p>

  <p>
    <strong>Week day:</strong>
    <%= lesson_time_location.week_day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= lesson_time_location.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= lesson_time_location.end_time %>
  </p>

</div>
