<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>

  <p>
    <strong>Season start:</strong>
    <%= lesson.season_start %>
  </p>

  <p>
    <strong>Season end:</strong>
    <%= lesson.season_end %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= lesson.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= lesson.max_age %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= lesson.price %>
  </p>

  <p>
    <strong>Cover img path:</strong>
    <%= lesson.cover_img_path %>
  </p>

</div>
