<div id="<%= dom_id address %>">
  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= address.address %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= address.zip_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

</div>
